@* Pie de página común para toda la aplicación *@
<footer class="footer mt-auto py-3 bg-light border-top text-center text-muted ">
    <div class="flex items-center">
        Programacion Web 3 20261C - Grupo X - Gonzalo Greatti - Victoria Diaz - Julian Imperiale - Mateo Colace - Cami -
        Joaquin
    </div>
</footer>